---

# Various deployment variables considered mandatory.
# The 'prep' stage will have asserted that variables
# required for all plays have been set. Here we're
# just concerned with those required to play.

- name: Assert variables
  assert:
    that:
    - stack_hostname|string|length > 0
    - stack_replicas|int > 0
    - database_root_password|string != 'SetMe'
    - database_user_password|string != 'SetMe'

# Include sensitive (encrypted) material.

- name: Include sensitive variables
  include_vars:
    file: sensitive.vault
  when: stack_include_sensitive|bool

# Create the namespace (project) and other key bits.
# Everything, except the graph at the moment goes into
# a dedicated namespace. When done we simply delete the namespace.

- name: Check the namespace
  assert:
    that:
    - stack_namespace|string|length > 0

- name: Creating namespace '{{ stack_namespace }}'
  k8s:
    definition: "{{ lookup('template', '{{ item }}.yaml.j2') }}"
    wait: yes
  loop:
  - namespace
  - serviceaccount
  - role
  - rolebinding-stack-sa

- name: Relax {{ stack_namespace }} 'default' service account (for cert-manager)
  k8s:
    definition: "{{ lookup('template', 'rolebinding-default-sa.yaml.j2') }}"
    wait: yes

# Deploy a database?
# Yes if the user hasn't set an explicit host
# If the user defines a database_host they must provide
# additional material but we're not checking that here.

- name: Deploy the database
  import_tasks: deploy-database.yaml
  when: database_host|string|length == 0

# Now (optionally) deploy the stack

- name: Deploy redis
  import_tasks: deploy-redis.yaml
  when: not stack_skip_deploy|bool

- name: Deploy the stack
  import_tasks: deploy-stack.yaml
  when: not stack_skip_deploy|bool
