---

# Job that relies on a statically-provisioned NFS export (volume-a)
# or an S3 Bucket. The export is assumed to contain the 'replica'
# that is either copied into (from production)
# or copied out of (into development).
#
# It uses the volume-replicator container to 'rsync' data
# into (or out of) the replica volume (volume-a) based
# on the environment variable REPLICATE_DIRECTION.

apiVersion: batch/v1
kind: Job
metadata:
  name: media-replicator
  namespace: {{ stack_namespace_fact }}
spec:
  # Clean-up completed (or failed) Jobs
  # after 5 minutes...
  ttlSecondsAfterFinished: 300

  template:
    metadata:
      labels:
        name: media-replicator
    spec:
      serviceAccountName: {{ replicator_sa_name }}

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ replicator_node_purpose }}

{% if all_image_preset_pullsecret_name|string|length > 0 %}
      imagePullSecrets:
      - name: {{ all_image_preset_pullsecret_name }}
{% endif %}

      containers:
      - name: media-replicator
        image: '{{ replicator_image_registry }}/{{ replicator_image }}:{{ replicator_image_tag }}'
{% if replicator_image_tag in ['latest', 'stable'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        terminationMessagePolicy: FallbackToLogsOnError
        resources:
          limits:
            cpu: {{ replicator_cpu_limit }}
            memory: {{ replicator_mem_limit }}
          requests:
            cpu: {{ replicator_cpu_request }}
            memory: {{ replicator_mem_request }}
        env:
        - name: REPLICATE_DIRECTION
          value: {{ replicate_direction_fact }}
{% if not replicate_quietly %}
        - name: REPLICATE_QUIETLY
          value: no
{% endif %}
{% if volume_a_is_s3 %}
        - name: VOLUME_A_IS_S3
        - name: S3_ACCESS_KEY
          value: {{ s3_access_key }}
        - name: S3_SECRET_KEY
          value: {{ s3_secret_key }}
        - name: S3_BUCKET_NAME
          value: {{ s3_bucket_name }}
{% if s3_url %}
        - name: S3_URL
          value: {{ s3_url }}
{% endif %}
{% if s3_request_style %}
        - name: S3_REQUEST_STYLE
          value: {{ s3_request_style }}
{% endif %}
{% endif %}
{% if not replicator_delete_destination %}
        # Default is 'yes'
        - name: REPLICATE_DELETE
          value: 'no'
{% endif %}
        volumeMounts:
{% if not volume_a_is_s3 %}
        - name: volume-a
          mountPath: /volume-a
{% endif %}
        - name: volume-b
          mountPath: /volume-b

      volumes:
{% if not volume_a_is_s3 %}
      - name: volume-a
        nfs:
          server: {{ replicator_a_nfs_server }}
          path: {{ replicator_a_nfs_path }}
{% endif %}
      - name: volume-b
        persistentVolumeClaim:
          claimName: {{ replicator_b_pvc_name }}

      restartPolicy: Never
  backoffLimit: 1
