---

# Variables,
# but not ones the user is typically expected to adjust.

# Fragalysis Stack configuration ----------------------------------------------

# The state of the stack,
# one of 'present' or 'absent'
stack_state: present

# Whether to remove the media volume when 'shutting down' the stack
# (used by the shutdown play). By default the media volume
# (time-consuming to recreate) is left alone during shutdown.
stack_shutdown_remove_media_volume: no
# Same with database volume (default is to 'remove')
stack_shutdown_remove_database_volume: yes

# The node label for preferred selection,
# A request to position pods onto a node for this purpose.
stack_node_purpose: application
# The Pod Security Policy (expected to exist in the cluster)
# that is used by the stack Role object.
stack_sa_psp: im-core-unrestricted
# The stack certificate issuer
# For use with the Kubernetes cert-manager
# deployed by the Informatics Matters infrastructure playbook.
# If blank ('') there will be no certificate.
stack_cert_issuer: staging

stack_cpu_limit: 8000m
stack_mem_limit: 6Gi
stack_cpu_request: 250m
stack_mem_request: 2Gi

# The Django app's media directory.
# To hold map and pdb target data, which
# depending on deployed targets, should be at least 3Gi
stack_media_vol_size_g: 8

stack_django_secret_key: "{{ lookup('password', '/dev/null length=50 chars=ascii_letters') }}"
stack_django_superuser_password: "{{ lookup('password', '/dev/null length=22 chars=ascii_letters') }}"

# Database configuration ------------------------------------------------------

# Database Pod CPU and Memory resources
database_cpu_limit: 2000m
database_mem_limit: 2Gi
database_cpu_request: 10m
database_mem_request: 400Mi

database_image_registry: docker.io
database_image: library/postgres
database_image_tag: '12.2'
database_port: 5432

# For the django application database.
# Needs at least 400MB, size it accordingly.
database_vol_size_g: 2

# Auto-generated passwords.
# Different lengths to avoid the Ansible caching problem.
database_root_password: "{{ lookup('password', '/dev/null length=12 chars=ascii_letters') }}"
database_user_password: "{{ lookup('password', '/dev/null length=10 chars=ascii_letters') }}"

# General variables -----------------------------------------------------------

# General timeout, used within the k8s module for wait duration
wait_timeout: 600
# Wait for volume binding?
# Probably unless multi-zone deployments
# where the PVC will not bind until the 'consumer' pod appears.
wait_for_bind: no
# Volume binding timeout (seconds)
bind_timeout: 120
