---
apiVersion: batch/v1
kind: Job
metadata:
  name: loader
  namespace: {{ stack_namespace }}
spec:
  # Clean-up completed (or failed) Jobs
  # after 5 minutes...
  ttlSecondsAfterFinished: 300

  template:
    metadata:
      labels:
        name: loader
    spec:
      serviceAccountName: stack

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ loader_node_purpose }}

      containers:
      - name: loader
        image: '{{ loader_image_registry }}/{{ loader_image }}:{{ loader_image_tag }}'
{% if loader_image_tag == 'latest' %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        env:
        # AWS S3 credentials, bucket and data-origin
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: loader
              key: aws_access_key_id
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: loader
              key: aws_secret_access_key
        - name: BUCKET_NAME
          value: '{{ loader_bucket_name }}'
        - name: DATA_ORIGIN
          value: '{{ loader_data_origin }}'
        # Database credentials
        - name: MYSQL_HOST
          valueFrom:
            secretKeyRef:
              name: database
              key: host
        - name: MYSQL_PORT
          valueFrom:
            secretKeyRef:
              name: database
              key: port
        - name: MYSQL_USER
          value: fragalysis
        - name: MYSQL_DATABASE
          value: frag
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database
              key: user_password
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database
              key: root_password
        volumeMounts:
        - name: media
          mountPath: /code/media

      volumes:
      - name: media
        persistentVolumeClaim:
          claimName: media

      restartPolicy: Never
  backoffLimit: 1
