---
kind: CronJob
apiVersion: batch/v1
metadata:
  name: postgres-backup-hourly
  namespace: {{ stack_namespace }}
spec:
  schedule: '{{ database_bu_hourly_schedule }}'
  successfulJobsHistoryLimit: 1
  startingDeadlineSeconds: 180
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            name: postgres-backup
        spec:
          serviceAccountName: stack

          # A 'preferred' (not guaranteed)
          # node selection affinity...
          affinity:
            nodeAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 40
                preference:
                  matchExpressions:
                  - key: informaticsmatters.com/purpose-application
                    operator: Exists

{% if all_image_preset_pullsecret_name|string|length > 0 %}
          imagePullSecrets:
          - name: {{ all_image_preset_pullsecret_name }}
{% endif %}

          containers:
          - image: informaticsmatters/sql-backup:{{ database_bu_image_tag }}
            name: postgres-backup
            imagePullPolicy: IfNotPresent
            terminationMessagePolicy: FallbackToLogsOnError
            resources:
              limits:
                cpu: 1
                memory: 512Mi
              requests:
                cpu: 100m
                memory: 512Mi
            env:
            - name: BACKUP_TYPE
              value: hourly
            - name: BACKUP_COUNT
              value: '{{ database_bu_hourly_history }}'
            - name: PGHOST
              value: database
            - name: PGUSER
              value: admin
            - name: PGADMINPASS
              valueFrom:
                secretKeyRef:
                  name: database
                  key: root_password
{% if database_bu_use_rsync %}
            - name: RSYNC_HOST
              valueFrom:
                secretKeyRef:
                  name: backup-rsync
                  key: host
            - name: RSYNC_PATH
              valueFrom:
                secretKeyRef:
                  name: backup-rsync
                  key: path
            - name: RSYNC_USER
              valueFrom:
                secretKeyRef:
                  name: backup-rsync
                  key: user
            - name: RSYNC_PASS
              valueFrom:
                secretKeyRef:
                  name: backup-rsync
                  key: pass
{% endif %}
            volumeMounts:
            - name: backup-data
              mountPath: /backup

          volumes:
          - name: backup-data
            persistentVolumeClaim:
              claimName: database-backup
          restartPolicy: Never
