---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: redis
  namespace: {{ stack_namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: redis
  template:
    metadata:
      labels:
        name: redis
    spec:
      serviceAccountName: stack

      # Pod Node Affinity.
      # Prefer 'core' before 'application'
      # then try anything other than 'worker before finally trying 'worker'
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 40
            preference:
              matchExpressions:
              - key: informaticsmatters.com/purpose-core
                operator: Exists
          - weight: 30
            preference:
              matchExpressions:
              - key: informaticsmatters.com/purpose-application
                operator: Exists
          - weight: 20
            preference:
              matchExpressions:
              - key: informaticsmatters.com/purpose-worker
                operator: DoesNotExist

      containers:
      - name: redis
        image: {{ redis_image }}:{{ redis_image_tag }}
        imagePullPolicy: IfNotPresent
        command:
        - redis-server
        - "/redis-master/redis.conf"
        env:
        - name: MASTER
          value: "true"
        ports:
        - name: client
          containerPort: 6379
        resources:
          limits:
            cpu: 1
            memory: 512Mi
          requests:
            cpu: 0.1
            memory: 256Mi
        livenessProbe:
          tcpSocket:
            port: client
          initialDelaySeconds: 20
          timeoutSeconds: 5
          periodSeconds: 10
          failureThreshold: 5
          successThreshold: 1
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - redis-cli ping
          initialDelaySeconds: 10
          timeoutSeconds: 5
          periodSeconds: 10
          failureThreshold: 5
          successThreshold: 1
        volumeMounts:
        - name: data
          mountPath: /redis-master-data
        - name: config
          mountPath: /redis-master

      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: redis
      - name: config
        configMap:
          name: redis-config
          items:
          - key: redis-config
            path: redis.conf
