---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: stack
  namespace: {{ stack_namespace }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/enable-cors: "true"
{% if stack_cert_issuer %}
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ stack_cert_issuer|lower }}"
{% endif %}
spec:
{% if stack_cert_issuer %}
  tls:
  - hosts:
    - {{ stack_url }}
    secretName: stack-tls
{% endif %}
  rules:
  - host: {{ stack_url }}
    http:
      paths:
      - path: /
        backend:
          serviceName: stack
          servicePort: http
