---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: stack
  namespace: {{ stack_namespace }}
  annotations:
    ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ stack_cert_issuer|lower }}"
spec:
  tls:
  - hosts:
    - {{ stack_hostname }}
    secretName: stack-tls
  rules:
  - host: {{ stack_hostname }}
    http:
      paths:
      - path: /{{ tower_user_id }}/{{ stack_name }}
        backend:
          serviceName: stack
          servicePort: http
