---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: media
  namespace: {{ stack_namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: '{{ stack_media_vol_storageclass }}'
  resources:
    requests:
      storage: '{{ stack_media_vol_size_g }}Gi'
