---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: stack
  namespace: {{ stack_namespace }}
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: '{{ stack_vol_storageclass }}'
  resources:
    requests:
      storage: {{ stack_vol_size_g }}Gi
