---
kind: Secret
apiVersion: v1
metadata:
  name: backup-rsync
  namespace: {{ stack_namespace }}
stringData:
  host: '{{ stack_backup_rsync_host }}'
  path: '{{ stack_backup_rsync_path }}'
  user: '{{ stack_backup_rsync_user }}'
  pass: '{{ stack_backup_rsync_pass }}'
