---
kind: Secret
apiVersion: v1
metadata:
  name: database
  namespace: {{ stack_namespace }}
stringData:
  root_password: {{ stack_db_root_password_fact }}
  user_password: {{ stack_db_user_password_fact }}
  host: {{ stack_db_host_fact }}
  port: {{ stack_db_port_fact }}
