---
kind: Secret
apiVersion: v1
metadata:
  name: database
  namespace: {{ stack_namespace }}
stringData:
  root_password: {{ stack_root_password_fact }}
  user_password: {{ stack_user_password_fact }}
