---
kind: Secret
apiVersion: v1
metadata:
  name: django
  namespace: {{ stack_namespace }}
stringData:
  secret_key: '{{ stack_django_secret_key_fact }}'
  superuser_password: '{{ stack_django_superuser_password_fact }}'
