---
kind: Secret
apiVersion: v1
metadata:
  name: ssh
  namespace: {{ stack_namespace }}
stringData:
  host: '{{ stack_ssh_host_fact }}'
  user: '{{ stack_ssh_user_fact }}'
  password: '{{ stack_ssh_password_fact }}'
  security_connector: '{{ stack_security_connector_fact }}'
