---
kind: Secret
apiVersion: v1
metadata:
  name: ispyb
  namespace: {{ stack_namespace }}
stringData:
  user: {{ stack_ispyb_user_fact }}
  password: {{ stack_ispyb_password_fact }}
  host: {{ stack_ispyb_host_fact }}
  port: {{ stack_ispyb_port_fact }}
