---
kind: Secret
apiVersion: v1
metadata:
  name: xchem
  namespace: {{ stack_namespace }}
stringData:
  user: {{ stack_xchem_user_fact }}
  password: {{ stack_xchem_password_fact }}
  name: {{ stack_xchem_name_fact }}
  host: {{ stack_xchem_host_fact }}
  port: {{ stack_xchem_port_fact }}
