---
kind: Secret
apiVersion: v1
metadata:
  name: stack
  namespace: {{ stack_namespace }}
stringData:
  django_secret_key: '{{ stack_django_secret_key_fact }}'
  django_superuser_name: '{{ stack_django_superuser_name_fact }}'
  django_superuser_password: '{{ stack_django_superuser_password_fact }}'
  django_superuser_email: '{{ stack_django_superuser_email_fact }}'
