---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: database
  namespace: {{ stack_namespace }}
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: database
  serviceName: database
  template:
    metadata:
      name: database
      labels:
        name: database
    spec:
      serviceAccountName: stack

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ stack_node_purpose }}

      containers:
      - name: database
        image: '{{ database_image_registry }}/{{ database_image }}:{{ database_image_tag }}'
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3306
        resources:
          limits:
            cpu: {{ database_cpu_limit }}
            memory: {{ database_mem_limit }}
          requests:
            cpu: {{ database_cpu_request }}
            memory: {{ database_mem_request }}
        livenessProbe:
          initialDelaySeconds: 30
          failureThreshold: 3
          successThreshold: 1
          periodSeconds: 10
          timeoutSeconds: 1
          tcpSocket:
            port: 3306
        env:
        - name: MYSQL_USER
          value: fragalysis
        - name: MYSQL_DATABASE
          value: frag
        - name: MYSQL_PASSWORD
          value: {{ stack_db_user_password_fact }}
        - name: MYSQL_ROOT_PASSWORD
          value: {{ stack_db_root_password_fact }}
        - name: MYSQL_ROOT_HOST
          value: '%'
        volumeMounts:
        - name: database-volume
          mountPath: /var/lib/mysql

      volumes:
      - name: database-volume
        persistentVolumeClaim:
          claimName: database
