---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: nery
  namespace: {{ stack_namespace }}
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: nery
  serviceName: nery
  replicas: 1
  template:
    metadata:
      name: nery
      labels:
        name: nery
    spec:
      serviceAccountName: stack

      # Pod Node Affinity.
      # Prefer 'application' node before 'core'
      # then try anything other than 'worker before finally trying 'worker'
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 40
            preference:
              matchExpressions:
              - key: informaticsmatters.com/purpose-application
                operator: Exists
          - weight: 30
            preference:
              matchExpressions:
              - key: informaticsmatters.com/purpose-core
                operator: Exists
          - weight: 20
            preference:
              matchExpressions:
              - key: informaticsmatters.com/purpose-worker
                operator: DoesNotExist

{% if all_image_preset_pullsecret_name|string|length > 0 %}
      imagePullSecrets:
      - name: {{ all_image_preset_pullsecret_name }}
{% endif %}

      containers:
      - name: nery
        image: 'informaticsmatters/fragalysis-nery:latest'
        imagePullPolicy: Always
        terminationMessagePolicy: FallbackToLogsOnError
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: 250m
            memory: 64Mi
          requests:
            cpu: 250m
            memory: 64Mi
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 15
          timeoutSeconds: 3
          tcpSocket:
            port: 8080
        livenessProbe:
          initialDelaySeconds: 10
          periodSeconds: 15
          timeoutSeconds: 3
          tcpSocket:
            port: 8080
        env:
        - name: DUMP_MESSAGES
          value: 'yes'
        - name: NEO4J_QUERY
          value: {{ graph_hostname }}
        - name: NEO4J_AUTH
          value: 'neo4j/{{ graph_password }}'
