---

- include_tasks: prep.yaml

# The user is expected to have attached a suitable OpenStack
# credential to the AWX Job so that the conventional
# authentication environment variables are defined.

# We expect OpenStack variables to be present in the file
# referred to by the environment variable 'OS_CLIENT_CONFIG_FILE'
# (injected by the corresponding AWX OpenStack credential): -
#
# clouds:
#   devstack:
#     auth:
#       auth_url: <auth-url>
#       password: <password>
#       project_domain_name: <project-domain-name>
#       project_name: <project-name>
#       user_domain_name: <domain>
#       username: <username>

- name: Get config filename
  set_fact:
    config_file: "{{ lookup('env', 'OS_CLIENT_CONFIG_FILE') }}"

- name: Assert config filename is defined
  assert:
    that: config_file|string|length > 0

- name: Load variables from OpenStack config file
  include_vars: "{{ config_file }}"

# Iterate through the list of 'snapshot_volumes'
# and issue a snapshot request to OpenStack.
#
# Volume 'x' snapshot will be called 'x-20170727T220900'
# where '20170727T220900' is the ISO8601 basic format (without ':' characters).

- name: Create volume snapshots
  os_volume_snapshot:
    force: yes
    volume: "{{ item }}"
    name: "{{ item }}--{{ ansible_date_time.iso8601_basic_short }}"
    availability_zone: "{{ snapshot_az }}"
    timeout: 600
    auth: "{{ clouds.devstack.auth }}"
  loop: "{{ snapshot_volumes }}"

# Now delete old volumes...
# The following relies on the existance of

- include_tasks: delete-old-snapshots.yaml
  vars:
    cloud_auth: "{{ clouds.devstack.auth }}"
